# Port at which the application should listen to.
PORT=8057

# Databox to send the registration to, this is just shown to the user.
NKOD_DATABOX=abc123

# URL of the SOLR endpoint with relevant cores, must end with "/".
SOLR_ENDPOINT=http://localhost:8983/solr/

# Proxy to use when importing dataset, you can use this if you want
# to import datasets from a custom catalog using IRI.
# Value should be a string template with "{}".
# "{}" is replace by URL encoded the dataset, or catalog, URL.
DEREFERENCE_PROXY=

# Use as a prefix for resources linked from HTML files.
BASE_URL=./

# This prefix is used for API calls.
# Client will invoke API calls at {CLIENT_API_PREFIX}v1
CLIENT_API_PREFIX=./api/

# This prefix is used to register server API calls.
# Server will listen for API calls at {SERVER_API_PREFIX}v1
SERVER_API_PREFIX=/api/

# SPARQL endpoint with related terms.
# URL must not contain non-ASCI characters.
# It would cause 404 on side of the NginX.
SPARQL_ENDPOINT=https://data.gov.cz/slovn%C3%ADky/sparql
